.lesson-wrapper {
	padding-top: 10px;
	padding-bottom: 10px;
}

.lesson-link {
	display: flex;
	max-width: fit-content;
	color: black;
}

.lesson-link:visited {
	color: black;
}

.lesson-circle {
	width: 50px;
	height: 50px;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #efefef;
	border-radius: 50%;
	font-weight: bold;
}

.lesson-link:hover .lesson-circle{
	background-color: #dedede;
}

.completed {
	background-color: #0abe64;
	color: white;
}

.lesson-link:hover .completed{
	background-color: #08a858;
}

.lesson-link:hover .lesson-name{
	text-decoration: underline;
}

.lesson-name {
	margin-left: 20px;
	font-size: 17px;
	font-weight: bold;
}