.overviewPageWrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.accordian {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#retrieveUserProgressError {
	max-width: 80%;
	text-align: center;
	color: red;
}