.accordian {
	width: 90%;
	margin-bottom: 70px;
}

#retrieve-user-progress-error {
	max-width: 80%;
	text-align: center;
}

.overview-completion {
	margin-top: 70px;
	font-size: 24px;
	font-size: clamp(1.1rem, 2vw, 1.7rem);
	font-weight: bold;
}