.sign-in-title {
	margin-top: 70px;
	font-size: 40px;
}

.sign-in-title-caption {
	max-width: 40%;
	margin-top: -5px;
	text-align: center;
	font-size: 18px;
}

.log-in-box {
	width: 60%;
	background: #efefef;
	border: solid #dedede 3px;
	height: 60%;
	border-radius: 20px;
	margin-top: 30px;
	padding-top: 60px;
	padding-bottom: 60px;
}

.username-block, .password-block  {
	display: flex;
	width: 60%;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
}

.password-block {
	margin-top: 30px;
	margin-bottom: 20px;
}

#username-label, #password-label {
	font-size: 20px;
	width: 100px;
	font-weight: bold;
}

#username-input-elem, #password-input-elem {
	font-size: 20px;
	border-radius: 10px;
	height: 40px;
	width: 300px;
	padding-left: 10px;
}

/* Override .default-button styling to make
login button bigger and darker */
#log-in-button {
	min-width: 200px;
	border-radius: 10px;
	font-size: 22px;
	background: #cfcfcf;
	margin-top: 10px;
}

#log-in-button:hover {
	background: #bfbfbf
}


#sign-in-error {
	margin-bottom: 30px;
}

#sign-in-error:empty {
	margin: 0;
}