.lecturePageWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.lecturePageContent {
	width: 90%;
	text-align: center;
}

.lectureSeparator {
	margin-top: 50px;
	margin-bottom: 130px;
	width: 100%;
	border-bottom: solid #dedede 3px;
}

.lecturePrimaryTitle {
	font-size: 55px;
}

.lecturePrimarySubtitle {
	margin-top: -20px;
	margin-bottom: 40px;
	font-size: 18px;
}

.lectureSecondaryTitle {
	font-size: 35px;
	margin-top: 130px;
}

.lectureSecondarySubtitle {
	font-size: 18px;
	margin-bottom: 40px;
}

#submissionTextArea {
	height: 60vh;
	width: 100%;
	font-size: 18px;
	resize: none;
	border: solid #dedede 3px;
}

.lectureSubmitBtn {
	margin-bottom: 40px;
	margin-top: 40px;
	min-width: 200px;
	border-radius: 10px;
	font-size: 25px;
	padding: 10px;
	font-weight: bold;
	padding: 15px 25px 15px 25px;
	border: none;
	background: #efefef;
	cursor: pointer;
}

.lectureSubmitBtn:hover {
	background: #dedede
}

#submitError {
	font-size: 15px;
	font-weight: bold;
	padding-top: 15px;
}

#submitError:empty {
	padding: 0;
	margin: 0;
}

.quizWrapper {
	display: grid;
	width: 100%;
	border-radius: 10px;
	border: solid #dedede 3px;
	grid-template: 
		".         questionHeader questionHeader ."
		"leftArrow choice1        choice2        rightArrow"
		"leftArrow choice3        choice4        rightArrow"
		".         feedback       feedback       ."
		".         submitBtn      submitBtn      ."
		"dots      dots           dots           .";
	grid-template-columns: 10% 40% 40% 10%;
	grid-auto-rows: auto;
}

.questionHeader {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: questionHeader;
	padding: 30px;
	font-size: 18px;
	font-weight: bold;
}

.choice {
	display: flex;
	padding: 30px;
	align-items: center;
	text-align: left;
	border-radius: 20px;
	white-space: pre-wrap;
	min-height: 50px;
	font-size: 18px;
	border: solid 3px white;
}

.choice:hover {
	background-color: rgba(0, 227, 98, 0.2);
	border: solid 3px  rgba(0, 227, 98, 0.6);
}

.clickedChoice {
	background-color: rgba(0, 227, 98, 0.6);
}

.clickedChoice:hover {
	background-color: rgba(0, 227, 98, 0.6);
}

.choice1 {
	grid-area: choice1;
}

.choice2 {
	grid-area: choice2;
}

.choice3 {
	grid-area: choice3;
}

.choice4 {
	grid-area: choice4;
}

.questionFeedback {
	grid-area: feedback;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
	font-size: 15px;
	font-weight: bold;
}

.questionFeedback:empty {
	padding: 0px;
}

.submitChoiceBtnWrapper {
	display: flex;
	grid-area: submitBtn;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

.submitChoiceBtn {
	font-weight: bold;
	font-size: 20px;
	padding: 15px 25px 15px 25px;
	border-radius: 5px;
	border: none;
	background: #efefef;
	cursor: pointer;
}

.submitChoiceBtn:hover {
	background: #dedede
}

.quizLeftArrow {
	grid-area: leftArrow;
}

.quizRightArrow {
	grid-area: rightArrow;
}

.quizLeftArrow, .quizRightArrow {
	display: flex;
	justify-content: center;
	align-items: center;
}

.dots {
	grid-area: dots;
}

.answerSection {
	margin-top: 90px;
}