.lecture-page-content {
	margin-top: 30px;
	width: 90%;
	text-align: center;
}

.lecture-primary-title {
	font-size: 55px;
}

.lecture-primary-subtitle {
	margin-top: -20px;
	margin-bottom: 40px;
	font-size: 18px;
}

.lecture-secondary-title {
	font-size: 35px;
	margin-top: 130px;
}

.lecture-secondary-subtitle {
	font-size: 18px;
	margin-bottom: 40px;
}


/* Start quiz section */
.quiz-wrapper {
	display: grid;
	width: 100%;
	border-radius: 10px;
	border: solid #dedede 3px;
	grid-template: 
		".         questionHeader questionHeader ."
		"leftArrow choice1        choice2        rightArrow"
		"leftArrow choice3        choice4        rightArrow"
		".         feedback       feedback       ."
		".         submitBtn      submitBtn      .";
	grid-template-columns: 10% 40% 40% 10%;
	grid-auto-rows: auto;
}

.question-header {
	grid-area: questionHeader;
	padding: 30px;
	font-size: 18px;
	font-weight: bold;
}

.choice {
	display: flex;
	padding: 30px;
	align-items: center;
	text-align: left;
	border-radius: 20px;
	white-space: pre-wrap;
	min-height: 50px;
	font-size: 18px;
	border: solid 3px white;
}

.choice:hover {
	background-color: rgba(0, 227, 98, 0.2);
	border: solid 3px  rgba(0, 227, 98, 0.6);
}

.clicked-choice {
	background-color: rgba(0, 227, 98, 0.6);
}

.clicked-choice:hover {
	background-color: rgba(0, 227, 98, 0.6);
}

.choice1 {
	grid-area: choice1;
}

.choice2 {
	grid-area: choice2;
}

.choice3 {
	grid-area: choice3;
}

.choice4 {
	grid-area: choice4;
}

.question-feedback {
	grid-area: feedback;
	padding-top: 30px;
	font-size: 15px;
	font-weight: bold;
}

.question-feedback:empty {
	padding: 0px;
}

.submit-choice-btn-wrapper {
	grid-area: submitBtn;
	padding: 30px;
}

.submit-choice-btn {
	font-size: 20px !important;
	padding: 15px 25px 15px 25px !important;
}

.quiz-left-arrow {
	grid-area: leftArrow;
}

.quiz-right-arrow {
	grid-area: rightArrow;
}
/* End quiz section */


#submission-text-area {
	height: 60vh;
	width: 100%;
	font-size: 18px;
	resize: none;
	border: solid #dedede 3px;
}

#submit-error {
	font-size: 15px;
	font-weight: bold;
	padding-top: 15px;
}

#submit-error:empty {
	padding: 0;
	margin: 0;
}

.lecture-submit-btn {
	margin-bottom: 40px;
	margin-top: 40px;
	min-width: 200px;
	border-radius: 10px !important;
	font-size: 25px !important;
	padding: 15px 25px 15px 25px !important;
}

.answer-section {
	margin-top: 90px;
}