.adminModuleWrapper {
	width: 100%
}

.adminModuleTitleWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 3px #dedede;
	box-sizing: border-box;
}

.adminModuleTitleWrapper:hover {
	background-color: #efefef;
	cursor: pointer;
}

.adminModuleContentWrapper {
	justify-content: center;
	display: flex;
}

.adminModuleContent {
	display: flex;
	flex-direction: column;
	width: 85%;
}

.adminModuleName, .adminModulePlusMinus {
	margin-left: 30px;
	margin-right: 30px;
}

.adminModuleName {
	font-size: 20px;
	font-weight: bold;
}

.adminModulePlusMinus {
	border-radius: 50%;
	background: #bebebe;
	color: white;
	height: 40px;
	width: 40px;
	padding: 0;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.adminPlusMinusRotated {
	transform:rotate(180deg); 
	-webkit-transform:rotate(180deg); 
	-moz-transform:rotate(180deg); 
	-o-transform:rotate(180deg); 
}

@keyframes inAnimation {
  0% {
	opacity: 0;
	visibility: hidden;
  }
  100% {
	opacity: 1;
	visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
	opacity: 1;
  }
  100% {
	opacity: 0;
	visibility: hidden;
  }
}
