.moduleWrapper {
	width: 100%;
}

.moduleTitleWrapper {
	background-color: lightgray;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: solid #bbb 3px;
}

.moduleTitle {
	text-align: center;
}

.moduleContentWrapper {
	background-color: #efefef;
	justify-content: center;
	display: flex;
}


.moduleContent {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.moduleName, .modulePlusMinus {
	margin-left: 30px;
	margin-right: 30px;
}

.moduleName {
	font-size: 20px;
	font-weight: bold;
}

.modulePlusMinus {
	border-radius: 50%;
	background: darkblue;
	color: white;
	height: 40px;
	width: 40px;
	padding: 0;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}